<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="../styles/main-styles.css">
    <link rel="stylesheet" href="../styles/color.css">
    <link rel="stylesheet" href="../../sidemenu/styles/navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Playwrite+DE+Grund:wght@100..400&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Graduate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="hamburger" id="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="nav-links" id="nav-links">
            <a href="#aboutme" class="topper" title="Move to top">|:`_`:|</a>
            <a href="../../cgpacalculator/views/gpa-calculator.html" target="_blank" class="myapp">GPA Calc</a>
            <a href="../../cgpacalculator/views/cgpa-calculator.html" target="_blank" class="myapp">CGPA Calc</a>
        </div>
    </nav>
    <div class="container">
        <section id="aboutme" class="section">
            <h2>About Me</h2>
            <div class="aboutme-content justifier">
                <div class="aboutme-text">
                    <p class="subtitle">Hello, It's Me</p>
                    <div>Syed Sahil A</div>
                    <p class="subtitle">And I'm a<span id="designation"></span></p>
                </div>
                <div class="aboutme-text" id="about-me"></div>
            </div>
        </section>
        <section id="projects" class="section">
            <h2>Projects</h2>
            <div class="concealer justifier">
                <h3>⭐ FallGuard [2025]<span class="toggle-button">see more</span></h3>
                <p class="tags">[Time-Series] [Deep Learning] [98.8%]</p>
                <div class="content" id="fall-guard"></div>
            </div>
            <div class="concealer justifier">
                <h3>NavAid [2024]<span class="toggle-button">see more</span></h3>
                <p class="tags">[Raspberry Pi] [Computer Vision] [91 Objects]</p>
                <div class="content" id="nav-aid"></div>
            </div>
            <div class="concealer justifier">
                <h3>RailNet [2023] <span class="toggle-button">see more</span></h3>
                <p class="tags">[Flask] [Security] [Voice]</p>
                <div class="content" id="rail-net"></div>
            </div>
        </section>
        <section id="experiences" class="section">
            <h2>Internships</h2>
            <div class="concealer justifier">
                <h3>GEN (01/2025 - 07/2025) <span class="toggle-button">see more</span></h3>
                <p class="tags">[SDE Intern] [Mobile Development] [Testing & Debugging]</p>
                <div class="content" id="gen-digital"></div>
            </div>
            <div class="concealer justifier">
                <h3>⭐ AUN (10/2023 - 03/2024) <span class="toggle-button">see more</span></h3>
                <p class="tags">[Research Intern] [Computer Vision] [Raspberry Pi]</p>
                <div class="content" id="csrc"></div>
            </div>
        </section>
        <section id="skills" class="section">
            <h2>Skills</h2>
            <div class="concealer">
                <h3>Languages <span class="toggle-button">see more</span></h3>
                <br>
                <div class="set-container content" id="languages"></div>
            </div>

            <div class="concealer">
                <h3>Framework & Tools <span class="toggle-button">see more</span></h3>
                <br>
                <div class="set-container content" id="development-tools"></div>
            </div>

            <div class="concealer">
                <h3>Focus Areas  <span class="toggle-button">see more</span></h3>
                <br>
                <div class="set-container content" id="focus-areas"></div>
            </div>

        </section>
        <section id="education" class="section">
            <h2>Education</h2>
            <div class="concealer">
                <h3>Bachelor of Engineering <span class="toggle-button">see more</span></h3>
                <br>
                <div class="set-container content" id="educations"></div>
            </div>
        </section>
        <section id="contact" class="section">
            <h2>Contact</h2>
            <div class="set-container" id="contacts"></div>
        </section>
    </div>
    <footer>
        <p>&copy; 2024 Syed Sahil</p>
    </footer>
    <script src="../../sidemenu/scripts/navbar.js"></script>
    <script src="../scripts/view-changer.js"></script>
    <script src="../scripts/data-appender.js"></script>
</body>
</html>
